# Xcode
*.xcuserstate
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/project.xcworkspace/xcshareddata/
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
!*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
xcuserdata/
**/xcuserdata/
DerivedData/
*.xccheckout
*.xcscmblueprint

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# SPM
.build/
.swiftpm/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Secrets (do not commit)
Secrets.xcconfig
*.secret

# OS
.DS_Store
.AppleDouble
.LSOverride
